<section class="site-container container mt-5 mb-5">

  <!-- Título centralizado -->
  <header class="row site-heading pb-5">
    <div class="col-lg-12">
      <h1 id="login_page_title_label" class="page-header text-center">Page Login</h1>
    </div>
  </header>

  <!-- Formulário centralizado -->
  <section class="row justify-content-center site-main">
    <form class="form-horizontal col-md-6 col-lg-5" [formGroup]="form" (ngSubmit)="onSubmit(form)">
      
      <!-- Campo Login -->
      <div class="form-group mb-3">
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
          <input 
            id="login_username" 
            type="text" 
            class="form-control" 
            formControlName="login" 
            placeholder="Login">
        </div>
        
      </div>

      <!-- Campo Password -->
      <div class="form-group mb-3">
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-key"></i></span>
          <input 
            id="login_password" 
            type="password" 
            class="form-control" 
            formControlName="pass" 
            placeholder="Password">
        </div>
       
      </div>

      <!-- Botão Entrar -->
      <button 
        id="login_submit" 
        type="submit" 
        class="btn btn-primary btn-lg btn-block">
        Enter
      </button>

    </form>
  </section>


</section>
